.left{
   position: absolute;
    display: flex ;
   left : 52px;
   top: 8px;
}

.right{
  position: absolute;
  display: flex ;
  right : 50px;
  top: 8px;
  
}
.header{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: brown;
}

.profiles{
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: brown;
}